<table>
	<tr><td colspan="2">- - - - - - - - - - - -</td></tr>
	<tr>
		<td>Scheduled for:</td>  <td><%= schedule.time %></td>
	</tr>
	<tr>
		<td colspan='2'>
			<%= "(about #{distance_of_time_in_words_to_now(schedule.time)} from now)" %>
		</td>
	</tr>
	<tr>
		<td>Meter number:</td>  <td><%= schedule.meter %></td>
	</tr>
	<tr>
		<td>Minutes:</td>  <td><%= schedule.minutes_to_add %></td>
	</tr>
	<tr>
		<td >
			<%= link_to "change", "/schedules/#{schedule.id}/edit"%>
		</td>
		<td >
			<%= link_to "cancel", "/schedules/#{schedule.id}", 
						method: 'delete', confirm: "You sure?"%>
		</td>
	</tr>
	
</table>
