<div class = "row">
	<% if signed_in? %>
		<aside class='span4 offset1'>
			<h1>Welcome to MeterPaid!</h1>
			<ul>
				<li><%= link_to "Edit account", "#" %></li>
				<li><%= link_to "Schedule meter payment", "schedules/new" %></li>
				<li><%= link_to "Sign out", signout_path %>
			</ul>
		</aside>
		<aside class='span8'>
			<%= render 'schedule_list', upcoming_schedules: @upcoming_schedules %>
		</aside>
	<% else %>
		<div class = 'span6 offset2'>
			<h1>Welcome to MeterPaid!</h1>
			<h3>Feed the parking meter while you sleep.</h3>
			<ul>
				<p/><p/><p/>
				<li><%= link_to "New user?          Sign up!", signup_path%></li>
				<p/><p/><p/>
				<li><%= link_to "Already signed up? Sign in!", signin_path%></li>
			</ul>
		</div>
	<% end %>
</div>
