<% if @user.errors.any? %>
	<p>There were <%= pluralize(@user.errors.count, "error") %></p>
	<ul>
	<% @user.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.label :phone %>
<%= f.text_field :phone %>

<%= f.label :meter_company_account_pin %>
<%= f.text_field :meter_company_account_pin %>

<%= f.label :cv2 %>
<%= f.text_field :cv2 %>
	
