
<div class='span6 offset3'>
<h1>Sign Up</h1>

<% if @user.errors.any? %>
	<p>There were <%= pluralize(@user.errors.count, "error") %></p>
	<ul>
	<% @user.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for(@user) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit "Sign me up!" %>
	
<% end %>
</div>
	